
.container {
  .title{
    margin-right: 5vh;
    background-color: #c70303;
    padding: 5px;
    border-radius: 5px;
    color:#f8f8f8;
  }
  .aboutMe {
    display: flex;
  }
  .wrapperLookingForJob{
    display: flex;
  }
  .statusWrapper{
    display: flex;
  }
  .up{
    transform: rotate(180deg);
  }
}