.container {
  overflow-y: auto;
  height: 100%;
  background-color: rgba(23, 24, 24, 0.17);
}

.containerMessage {
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(21, 150, 150, 0.22);

  img {
    max-width: 60px;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
    color: #000000;
    display: flex;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.14);
  }

  .wrapperMessage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(245, 222, 179, 0.63);
    align-items: center;
    border-radius: 15px;
    margin-left: 5vh;
    padding: 5px;

    .message {
    }

    .date {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.76);
      margin-left: 10px;
    }
    div{
      display: flex;
      flex-direction: column;
      .lastMessageText{
        font-size: 11px;
      }
    }
  }
}