.container {
  margin-left: 5px;

  .wrapperItem {
    display: flex;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 15px;

    .wrapperImage {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        padding: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        width: 100px;
      }
    }

    img {
      max-width: 150px;
    }
  }
}

.unsubStyle {
  background-color: #c70303;
  transition: 0.5s ease-in-out;

  &:hover {
    background-color: #18c505;
    color: #000000;
  }
}

.subStyle {
  background-color: #18c505;
  transition: 0.5s ease-in-out;

  &:hover {
    background-color: #c70303;
    color: #000000;
  }
}